<h3>Invite members to</h3>
<hr/>
<h3><%= link_to @gallina.name, @gallina, class: "h1" %></h3>

<h2>Invite users</h2>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<% User.all.each do |user| %>
			<tr>
			  <td><%= user.email %></td>
			  <td><a href="/gallinas/<%=@gallina.id%>/invite?invited_id=<%=user.id%>">invite</a></td>
			</tr>
		<% end %>
	</table>
</div>